github "sidevesh/CleanroomLogger" "soduto"
github "soduto/CocoaAsyncSocket" "6406b67e9ff56473184242d395ae31ed17f75e35"
github "agungrbudiman/NMSSH" "4ee257547822eaec71d57e26c514072a846b681a"
github "soduto/Reachability.swift" "fe59bf2f5242fefaccf1e09eb8bff88f45c2433a"
binary "https://sparkle-project.org/Carthage/Sparkle.json"
